<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="Main">

    <f:flashMessages queueIdentifier="core.template.flashMessages"/>




    <div class="wstestimonials--{data.tx_wstestimonials_columns}">
        <f:for each="{items}" as="item">
            <div class="wstestimonials__item">
                <div class="wstestimonials__item__stars">
                    <f:for each="{item.data.rating}" as="star">
                        <span class="fa fa-star"></span>
                    </f:for>
                </div>

                <div class="wstestimonials--item--image">
                    <f:if condition="{item.authorImage.0}">
                        <f:image image="{item.authorImage.0}" alt="{item.data.title}" width="150" height="150"/>
                    </f:if>
                </div>
                <div class="wstestimonials--item--content">
                    <div class="wstestimonials--item--title">
                        {item.data.title}
                    </div>
                    <div class="wstestimonials--item--description">
                        {item.data.content -> f:format.html()}
                    </div>
                    <div class="wstestimonials--item--description">
                        {item.data.author_name}
                    </div>
                </div>
            </div>
        </f:for>
    </div>


</f:section>


</html>
