<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:wstest="http://typo3.org/ns/WapplerSystems/TestimonialsViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="Main">

    <f:asset.css identifier="wstestimonials" href="EXT:ws_testimonials/Resources/Public/CSS/styles.css" />

    <div class="wstestimonials wstestimonials--{data.tx_wstestimonials_columns} wstestimonials--layout-{data.layout}">
        <f:for each="{items}" as="item">
            <figure class="wstestimonials__item">

                <figcaption>
                    <f:if condition="{item.authorImage.0}">
                        <f:image class="wstestimonials__item__image" image="{item.authorImage.0}" alt="{item.data.author_name}" width="150" height="150"/>
                    </f:if>
                </figcaption>
                <div class="wstestimonials__item__content">

                    <f:if condition="{item.data.stars}">
                        <div title="{item.data.stars}" class="wstestimonials__item__stars wstestimonials__item__stars--{item.data.stars -> f:replace(search:'.',replace:'-')}">
                            <span class="wstestimonials__item__star"></span>
                            <span class="wstestimonials__item__star"></span>
                            <span class="wstestimonials__item__star"></span>
                            <span class="wstestimonials__item__star"></span>
                            <span class="wstestimonials__item__star"></span>
                        </div>
                    </f:if>

                    <div class="wstestimonials__item__title">{item.data.title}</div>
                    <blockquote class="wstestimonials__item__quote">
                        {item.data.content -> f:format.html()}
                    </blockquote>
                    <div class="wstestimonials__item__author">
                        {item.data.author_name}
                    </div>
                    <f:if condition="{item.data.author_position} || {item.data.author_company}">
                        <div class="wstestimonials__item__meta">
                            <f:if condition="{item.data.author_position}">{item.data.author_position}</f:if><f:if condition="{item.data.author_position} && {item.data.author_company}">, </f:if><f:if condition="{item.data.author_company}">{item.data.author_company}</f:if>
                        </div>
                    </f:if>
                </div>
            </figure>
        </f:for>
    </div>


</f:section>


</html>
